@media(max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.titled {
  color: var(--text-fill-on-filled-on, #E4E6ED) !important;
  font-family: 'Inter';
  font-size: 88px;
  font-style: normal;
  font-weight: 300;
  line-height: 88px;
  /* 100% */
  letter-spacing: -1.76px;
}

.title-3 {
  color: var(--text-fill-on-filled-on, #E4E6ED);
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  /* 127.273% */
  letter-spacing: -0.88px;
}

.title-4 {
  color: var(--text-fill-on-filled-on, #E4E6ED);
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  /* 127.273% */
  letter-spacing: -0.88px;
}

.subtitled {
  font-family: 'Merriweather', serif !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

.to-bottom-margin {
  margin-top: 400px;
}

.main-container {
  background: linear-gradient(to top right, rgba(79, 70, 229, 0.5), rgba(128, 0, 128, 0.5));
}

.first-section {
  background-image: url('../src/assets/splash-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.navbar-style {
  color: #E4E6ED;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
  letter-spacing: -0.32px;
  margin-right: 40px;
}

.navbar-container {
  margin-top: 100px;
  height: 50px;
}

.navbar-item-new {
  color: #E4E6ED;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
  letter-spacing: -0.32px;
  margin: 10px 40px 10px 10px;
}

.custom-button {
  height: 36px;
  width: 210px;
  text-align: center;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-base, 9999px);
  background: var(--bg-filled-bg-filled-secondary, #837EE6);
  color: #E4E6ED;
  cursor: pointer;
}

.custom-button-1 {
  margin: 30px 0;
  height: 36px;
  width: 210px;
  text-align: center;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-base, 9999px);
  background: var(--bg-filled-bg-filled-secondary, #837EE6);
  color: #E4E6ED;
  cursor: pointer;
}

.cards-main-container {
  margin: 120px 0 !important;
}

.cards-container {
  height: 300px;
  width: 260px;
  border-radius: var(--radius-container, 8px);
  background: var(--body-1, #2E3654);
  padding: 24px;
}

.card-title {
  color: var(--base, #FFF);

  /* text-2xl/font-medium */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.card-subtitle {
  color: var(--base, #FFF) !important;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.final-section {
  background: var(--bg-filled-bg-filled, #262C44) !important;
}

.privacy-policy {
  color: var(--text-fill-on-filled-on, #E4E6ED);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
  margin: 30px 0;
  width: 420px;
  text-align: center;
}